.App {
  text-align: center;
}

body {
 /* background-image: url("./assets/background.jpg");*/ /* Path to your background image */
  background-size: cover; /* Ensure the background image covers the entire viewport */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Make the background image fixed so it doesn't scroll with the content */
  background-position: center; /* Center the background image */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  font-family: Arial, sans-serif; /* Optional: Set a default font for the body */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  width: 100%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  
  bottom: 0;
  margin: 0;
}
